<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="QlikSenseUri" value="https://localhost:4747"/>
		<add key="QlikSenseCertPath" value="C:\ProgramData\Qlik\Sense\Repository\Exported Certificates\servername"/>
		<add key="QlikSenseDomen" value="domain"/>
		<add key="QlikSenseUser" value="qlik"/>
		<add key="QlikSenseAppId" value="ef2001ff-4f16-4aa1-b64b-326b9a26428f"/>
		<add key="QlikSenseObjectId" value="VfBsbZ"/>
		<add key="QlikSenseBookmarkId" value="e95f476b-4407-4375-8c8c-aa96b590f3cb"/>
		<add key="QlikSenseFilters" value="CompanyID:1234"/>
		<add key="ExcelSavePath" value="C:\Files\Output.xlsx"/>
	</appSettings>
</configuration>
