<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="QlikSenseUri" value="https://localhost:4747"/>
		<add key="QlikSenseCertPath" value="C:\ProgramData\Qlik\Sense\Repository\Exported Certificates\folder"/>
		<add key="QlikSenseDomen" value="domain"/>
		<add key="QlikSenseUser" value="user"/>
		<add key="QlikSenseAppId" value="ef2001ff-4f16-4aa1-b64b-326b9a26428f"/>
		<add key="QlikSenseObjectId" value="VfBsbZ"/>
		<add key="QlikSenseBookmarkId" value="20c59b0d-d0ce-4c96-8652-1d4c756d9a75"/>
		<add key="QlikSenseFilters" value="CompanyId:990"/>
		<add key="ExcelSavePath" value="C:\Output.xlsx"/>
	</appSettings>
</configuration>
