<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="QlikSenseUri" value="https://srv5213.kmg.kz:4747"/>
		<add key="QlikSenseCertPath" value="C:\ProgramData\Qlik\Sense\Repository\Exported Certificates\srv5213"/>
		<add key="QlikSenseDomen" value="kmg"/>
		<add key="QlikSenseUser" value="qlik.service"/>
		<add key="QlikSenseAppId" value="ef2001ff-4f16-4aa1-b64b-326b9a26428f"/>
		<add key="QlikSenseObjectId" value="VfBsbZ"/>
		<add key="QlikSenseBookmarkId" value="20c59b0d-d0ce-4c96-8652-1d4c756d9a75"/>
		<add key="QlikSenseFilters" value="БИН заказчика:990940002914"/>
		<add key="ExcelSavePath" value="C:\QVDs\ZAKUP_KMG\Email\Output.xlsx"/>
	</appSettings>
</configuration>